.portfolio__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 95%; */
    margin: 0 auto;
}

.portfolio__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 10px;
    font-size: 16px;
    width: 340px;
    margin: 1.5rem;
    padding: 1rem;
    background: rgba(47, 47, 138, 0.8);
    backdrop-filter: blur(7px);
    border-radius: 15px;
    transition: var(--transtion);

}

.middle{
    gap: 23px;
    box-shadow: 5px 15px 25px rgba(8, 12, 33, 0.876);
}

.portfolio__item:hover{
    box-shadow: 5px 15px 25px rgba(8, 12, 33, 0.876);
}


.portfolio__img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    position: relative;
}

.portfolio__img img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.portfolio__item p{
    font-size: 13px;
}
.portfolio__buttons{
    display: flex;
}

.btn-6{
    width: 110px;
   height: 45px;
   border-radius: 7px; 
   font-size: 13px;
}

.btn-6 span {
    margin-right: 5px;
}

.btn-6a{
    margin-right: 20px;
}
/* ============================== Overlay ============================ */
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 15px;
    transition: all 0.4s ease 0s; 
}
  .overlay__link {
    position: absolute;
    font-size: 50px;
    display: inline-block;
    color: white;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease 0s; 
}
    .portfolio__img:hover .overlay {

      background: linear-gradient(107.21deg, rgba(201, 97, 222, 0.6) 24.43%, rgba(41, 84, 163, 0.6) 68.95%)
    }
      .portfolio__img:hover .overlay__link {
        opacity: 1;
        visibility: visible;
        top: 50%;
        left: 50%; 
    }

/* ============================== Media Queries ============================ */

@media screen and (max-width: 1163px) {
    .middle{
        gap: 10px;
        
    }

    .portfolio__item{
        gap: 15px;
    }

.btn-6b{
    margin-top: 0;
}
    }

    @media screen and (max-width: 350px) {
        .portfolio__item{
            gap: 13px;
        }
            
        }