.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 100vh;
  font-weight: 700;
}

.text__animate{
  position: relative;
  width: 22.7rem
}

.text__animate h2 {
  font-size: 2rem;
 margin-bottom: 10px;
 color: transparent;
 cursor: pointer;
 -webkit-text-stroke: .7px #c961de;
 background-image: linear-gradient( #2954a3, #c961de );
 background-repeat: no-repeat;
 -webkit-background-clip: text;
 background-clip: text;
 background-position: -40rem 0;
 animation: homeBgText 5s linear infinite;
animation-delay: 2s;
}

.text__animate h2::before {
content: '';
position: absolute;
top: 0;
left: 0;
height: 100%;
border-right: 2px solid #c961de ;
animation: homeCursorText 5s linear infinite;
animation-delay: 2.2s;

}

/* keyframe */
@keyframes homeBgText{
  0%,10%,100%{
    background-position: -40rem 0;
  }
  65%,85%{
    background-position: 0 0;
  }
}

@keyframes homeCursorText{
  0%,10%,100%{
   width: 0%;
  }
  65%,85%{
    width: 100%;
    opacity: 1;
  }
  /* 75%,81%{
    opacity: 0;
  } */
}



.header__container h1 {
  color: #c961de;
  font-size: 2.5rem;
}

.header__container__inner {
  margin-top: 120px;
}



.header-text {
  font-size: 14px;
  font-weight: 400;
  width: 500px;
}

.header__container__inner img {
  display: inline-block;
  height: 6rem;
}

.buttons {
  display: flex;
  margin: 40px 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: rgba(255, 255, 255, 0.767);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(11.5757px);
  border-radius: 30px;
}

.btn-1 {
  color: var(--color-bg);
  margin-right: 20px;
}

.btn-1:hover {
  border: 2px solid rgba(255, 255, 255, 0.767);
  background: none;
}

.btn-2 {
  color: var(--text-color);
  background: linear-gradient(to right, #2954a3 0%, #c961de 48%, #2954a3 100%);
  background-size: 200% auto;
  transition: background 400ms ease-out;
  box-shadow: 0 10px 20px rgba(8, 12, 33, 0.15);
  border-radius: 30px;
}

.btn-2:hover {
  color: var(--text-color-purple);
  background-position: right center;
}

.scroll__down,
.header__socials__icon {
  color: white;
  padding: 3px 5px 0.5px 5px;
  border-radius: 5px;
  background: rgba(47, 47, 138, 0.6);
  transition: 0.1s 0.2s ease-in;
}

 /* ====================== Scroll-down =========================== */ 

 .scroll__down{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-color);
  padding: 10px;
  position: absolute;
  right: 0.3rem;
  bottom: 30rem;
  transform: rotate(90deg);
  font-weight: 300;
  transition: 0.3s 0.5s ease;
}

.scroll__down:hover {

  transform: rotate(450deg);
  }


.scroll__down:hover,
.header__socials__icon:hover {
  color: #c961de;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 3rem;
  bottom: 3rem;
}

.header__socials a:hover {
  transform: translateX(-0.5rem);
}

.header__socials::after {
  content: "";
  width: 2px;
  height: 2rem;
  background: var(--text-color);
}

/* Media Queries */
@media screen and (max-width: 1339px) {
  .scroll__down {
    bottom: 27rem;
  }
}

@media screen and (max-width: 1024px) {
  .header__container__inner {
    margin-top: 100px;
  }
  .header__container h2 {
    font-size: 1.3rem;
  }
  .text__animate{
    width: 14.8rem
  }
  .header__container h1 {
    font-size: 2.5rem;
  }
  .header__container__inner img {
    height: 4rem;
  }
  .scroll__down {
    right: 0.3rem;
  }
  .scroll__down,
  .header__socials__icon {
    font-size: 12px;
  }
  .header__socials {
    bottom: 1rem;
  }
}

@media screen and (max-width: 745px) {
  .header__container {
    height: 80vh;
  }
  .header__container h1 {
    font-size: 2rem;
  }
  .header__container h2 {
    font-size: 1.15rem;
  }
  .text__animate{
    width: 13.2rem
  }
  .header-text {
    width: 400px;
  }
  .header__container__inner img {
    height: 3.5rem;
  }
}

@media screen and (max-width: 500px) {
  .header__container__inner {
    margin-top: 50px;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .header__container {
    text-align: center;
  }
  .header__container h2 {
    font-size: 1rem;
  }

  .text__animate{
    margin: auto;
    width: 11.5rem
  }

  .header-text {
    width: 100%;
  }
  .header__container__inner img {
    height: 3.2rem;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  .btn-1 {
    margin-right: 0;
  }
  .btn-2 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 380px) {
  .header__container__inner {
    margin-top: 50px;
  }
}

@media screen and (max-width: 320px) {
  .header__container h1 {
    font-size: 1.5rem;
  }
}
